.page-content {
	width: 100%;
	overflow: hidden;
	height: auto;
}
.formLogo{
	width: 100%;
	text-align: center;
	padding: 50px;
	padding-bottom: 0;
	box-sizing: border-box;
}
.myformGroup{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #cacaca;
	padding-top: 20px;
	margin-bottom: 20px;
}
.form-v10-content  {
	background: #fff;
	width: 950px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 50px auto;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
.form-v10-content .form-detail {
	position: relative;
	width: 100%;
	padding: 0 30px 15px 30px;
	box-sizing: border-box;
}
.form-v10-content .form-detail .lableBox{
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
.form-v10-content .form-detail .lableBox label{
	margin-right: 5px;
	font-size: 13px;
}
.form-v10-content .form-detail .lableBox span{
	font-size: 10px;
}
.form-v10-content .form-detail .lableBox input[type='button']{
	width: auto;
	border-bottom: none;
	cursor: pointer;
}
.form-v10-content .form-detail .form-left .lableBox input[type='button']:focus{
	border-bottom: none;
}
.form-v10-content .form-detail .lableBox input[type="date"]{
	position: relative;
	top: -3px;
}
.form-v10-content .form-detail h2 {
	font-size: 18px;
	margin-bottom: 10px;
	padding: 0 50px 0px 30px;
}
.form-v10-content .form-detail h2 span{
	font-size: 12px;
	font-weight: normal;
}
.form-v10-content .form-detail .form-left {
	width: 100%;
}
.form-v10-content .form-detail .form-left h2 {
	color: #2271dd;
}
.form-v10-content .form-detail .form-group {
	display: flex;
	display: -webkit-flex;
}
.form-v10-content .form-detail .form-row {
	position: relative;
	margin-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
}
.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1 {
	width: 50%;
	/*padding: 0 12px 0 60px;*/
}
.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1-sm {
	width: 25%;
}
.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2 {
	width: 50%;
	/*padding: 0 50px 0 12px;*/
}
.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3 {
	width: 50%;
	/*padding: 0 12px 0 60px;*/
}
.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 {
	width: 50%;
	/*padding: 0 50px 0 12px;*/
}
.form-v10-content .form-detail .form-left .form-group .form-row.form-row-5{
	width: 80%;
}
#price{
	width: 35% !important;
}
.bottomPart{
	line-height: 2;
}

.form-v10-content .form-detail select,
.form-v10-content .form-detail input {
	width: 100%;
    padding: 5px ;
    border: 1px solid transparent;
    background: transparent;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.form-v10-content .form-detail select {
	background: 0 0;
	position: relative;
	z-index: 9;
	cursor: pointer;
}
.form-v10-content .form-detail .form-left select {
	color: #666;
}
.form-v10-content .form-detail .select-btn {
	z-index: 0;
    position: absolute;
    top: 30%;
    right: 11.5%;
    font-size: 18px;
}
.form-v10-content .form-detail .form-left .select-btn {
    color: #666;
}
.form-v10-content .form-detail .form-group .form-row.form-row-4 .select-btn {
	top: 20%;
	right: 26%;
}
.form-v10-content .form-detail .form-left input {
	color: #000;
}
.form-v10-content .form-detail .form-left input,
.form-v10-content .form-detail .form-left select {
	border-bottom: 1px solid #ccc;
}
.form-v10-content .form-detail .form-left input:focus,
.form-v10-content .form-detail .form-left select:focus {
	border-bottom: 1px solid #999;
}
.form-v10-content .form-detail .form-checkbox {
	margin-top: 37px;
	padding: 0 50px 0 60px;
	position: relative;
}
.form-v10-content .form-detail .form-checkbox input {
	position: absolute;
    opacity: 0;
}
.form-v10-content .form-detail .form-checkbox .checkmark {
	position: absolute;
    top: 1px;
    left: 60px;
    height: 15px;
    width: 15px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}
.form-v10-content .form-detail .form-checkbox .checkmark::after {
	content: "";
    position: absolute;
    left: 5px;
   	top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.form-v10-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}
.form-v10-content .form-detail .form-checkbox p {
    margin-left: 34px;
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 400;
}
.form-v10-content .form-detail .form-checkbox .text {
	font-weight: 400;
	color: #fff;
	text-decoration: underline;
}
.form-v10-content .form-detail .form-left input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
  font-size: 14px;
}
.form-v10-content .form-detail .form-left input::-moz-placeholder { /* Firefox 19+ */
  color: #666;
  font-size: 14px;
}
.form-v10-content .form-detail .form-left input:-ms-input-placeholder { /* IE 10+ */
  color: #666;
  font-size: 14px;
}
.form-v10-content .form-detail .form-left input:-moz-placeholder { /* Firefox 18- */
  color: #666;
  font-size: 14px;
}
.rulesBox{
	width: 100%;
	padding:  15px 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.rulesBox .left-side, .rulesBox .right-side{
	width: 48%;
}
.li-group{
	color: black;
	font-size: 10px;
	line-height: 1.5;
	box-sizing: border-box;
	width: 95%;
}
.right-side .li-group {
	float: right;
}
ol.num {
	list-style-type: decimal;
	font-weight: bolder;
	text-align: justify;
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	padding: 0 10px;
	justify-content: space-between;
}
ol.num li {
	margin-top: 10px;
}
ol.alpha {
	list-style-type: lower-alpha;
	font-weight: normal;
	padding-left: 2px;
}
ol.alpha li {
	padding-left: 20px;
}
ol.roman {
	list-style-type: lower-roman;
	padding-left: 25px;
}
ol.roman li {
	padding-left: 15px;
}
.checkTable{
	width: 100%;
	line-height: 2;
	text-align: center;
}
.checkTable tr td:first-child{
	text-align: left;
}
.text-center{
	text-align: center !important;
}
.circleText{
	position: relative;
	top: -15px;
}
.circleText b{
	margin-right: 13px;
}
.td-Sm{
	width: 35%;
}
/*Upload File css*/
.box {
	/*background-color: #dfc8ca;*/
	/*padding: 6.25rem 1.25rem;*/
}

.box + .box {
	margin-top: 2.5rem;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	max-width: 80%;
	font-size: 1.25rem;
	/* 20px */
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: 0.625rem 1.25rem;
	/* 10px 20px */
}

.no-js .inputfile + label {
	display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	/* pointer-events: none; */
	/* in case of FastClick lib use */
}

.inputfile + label svg {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	margin-top: -0.25em;
	/* 4px */
	margin-right: 0.25em;
	/* 4px */
}


/* style 1 */

.inputfile-1 + label {
	color: #fff;
	background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
	background-color: #722040;
}

.sendBtn{
	float: right;
	background-color: #d3394c;
	font-size: 1.25rem;
	font-weight: 700;
	white-space: nowrap;
	cursor: pointer;
	padding: 0.55rem 2rem;
	color: #fff;
	position: relative;
	right: 15px;
	outline: none;
	border-color: #d3394c;
}
.sendBtn:hover {
	background-color: #722040;
	border-color: #722040;
}


/* Responsive */
@media screen and (max-width: 1199px) {
	.form-v10-content {
		margin:  95px 20px;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.form-v10-content .form-detail .form-group {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4{
	    width: auto;
	    padding: 0 50px 0 60px;
	}
	.form-v10-content .form-detail .select-btn,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn{
		right: 15%;
	}

}
@media screen and (max-width: 767px) {
	.form-v10-content .form-detail {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.form-v10-content .form-detail .form-left {
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 575px) {
	.form-v10-content .form-detail .form-group {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.form-v10-content .form-detail .form-row,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4{
	    width: auto;
	    padding: 0 30px;
	}
	.form-v10-content .form-detail .select-btn,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn {
		right: 15%;
	}
	.form-v10-content .form-detail h2 {
	    padding: 33px 30px 0px 30px;
	}
	.form-v10-content .form-detail .form-checkbox {
		padding: 0 30px;
	}
	.form-v10-content .form-detail .form-checkbox .checkmark {
		left: 30px;
	}
}
